
# py cache
__pycache__/
*/*__pycache__/
.idea/


# dev docs
/docs/build_flow.md

# build dist
/build/
/dist/
SimuBox/SimuBox.egg-info/
SimuBox.egg-info/

# possible cache directory
/SimuBox/web/cache/
/SimuBox/runner/Scripts/param_list.txt
