
# py cache
__pycache__/
*/*__pycache__/
.idea/


# dev docs
/Docs/build_flow.md

# build dist
/build/
/dist/
SimuBox/SimuBox.egg-info/
SimuBox.egg-info/

# possible cache directory
/SimuBox/Web/cache/
